# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Environments
.venv/
venv/
ENV/
env/

# OS
.DS_Store
Thumbs.db

# Outputs
data/processed/*
!data/processed/.gitkeep

figures/*
!figures/.gitkeep
